<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- User_info部分テンプレート -->
      <div class="row">
        <%= render 'users/user_info', user: @user %>
      </div>
      <!-- New_book部分テンプレート -->
      <div class="row">
        <%= render 'books/newbook', book: @book %>
      </div>
    </div>
    <!-- 本の詳細一覧 -->
    <div class="col-md-9">
    <h2>Book detail</h2>
    <table class="table table-hover">
    <tbody>
      <tr>
        <td><%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %></td>
        <td><%= @book.title %></td>
        <td><%= @book.body %></td>
        <td><%= link_to "Edit", edit_book_path(@book) %></td>
        <td><%= link_to "Destroy",book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
      </tr>
    </tbody>
    </table>
    </div>
  </div>
</div>